extends layout
block content
    // shown when user is not logged in
    div(ng-hide='currentUser')
        form(ng-show="scenario == 'Log in'")
            h2 Log in
            | Username:
            input(type='text', ng-model='user.username')
            br
            | Password:
            input(type='password', ng-model='user.password')
            br
            br
            button(ng-click='logIn(user)') Log in
            //| First name:
            //input(type='text', id='firstname')
            //br
            //| Last name:
            //input(type='text', id='lastname')
            //br
            //| Birth year:
            //input(type='text', id='birthyear')
            //br
            //br
            //button(ng-click='createAccount(user)') Create Account
    // shown when user is logged in
    div(ng-show='currentUser')
        #page(data-role='page')
            div(data-role='header', id='customHeader')
                h1 Welcome to Track-Houston!
            div(data-role='tabs')
                #one.ui-content
                    // admin navigation bar
                    div(ng-hide="!isAdmin" data-role='navbar')
                        center
                            ul
                                li
                                    a(id='ManNoteSetBUTT', href='#runTable', data-theme='a', data-ajax='false') View Data
                                br
                                li
                                    a(id='ManNoteSetBUTT', href='#inputRun', data-theme='a', data-ajax='false') Input Times
                                br
                                li
                                    a(id='ManNoteSetBUTT', href='#adminCreateAccount', data-theme='a', data-ajax='false') Create Account
                                br
                                li
                                    a(id='ManNoteSetBUTT', href='#viewGrades', data-theme='a', data-ajax='false') View Grades
                    // coach navigation bar
                    div(ng-hide="!isCoach", data-role='navbar')
                        ul
                            li
                                a(id='ManNoteSetBUTT', href='#runTable', data-theme='a', data-ajax='false') View Data
                            li
                                a(id='ManNoteSetBUTT', href='#inputRun', data-theme='a', data-ajax='false') Input Times
                            li
                                a(id='ManNoteSetBUTT', href='#coachCreateAccount', data-theme='a', data-ajax='false') Update Roster
                            li
                                a(id='ManNoteSetBUTT', href='#viewGrades', data-theme='a', data-ajax='false') View Grades
                    // logout button
                    button(ng-click='logOut(user)') Log out
                // form for admin to create new accounts
                #adminCreateAccount.ui-content
                    div(ng-hide="!isAdmin", id='acctTypeRadios')
                        // student radio button
                        input(id='studentType', type='radio', name='accountType', ng-click='newAcctTypeUpdate()',value='student')
                        label(for='studentType') Student
                        // coach radio button
                        input(id='coachType', type='radio', name='accountType', value='coach',ng-click='newAcctTypeUpdate()')
                        label(for='coachType') Coach
                        // admin radio button
                        input(id='adminType', type='radio', name='accountType', value='admin', ng-click='newAcctTypeUpdate()')
                        label(for='adminType') Admin
                        // form to create a new coach
                        form#coachForm(ng-hide="!isAdmin || newAcctType !== 'coach'", method='post')
                            // create coach form header
                            h1 Create Coach Account
                            // new coach's first name
                            label(for='coachForm-fname') First name:
                            input#coachForm-fname(type='text', name='coachForm-fname')
                            // new coach's last name
                            label(for='coachForm-lname') Last name:
                            input#coachForm-lname(type='text', name='coachForm-lname')
                            // new coach's position
                            label(for='coachForm-position') Position:
                            input#coachForm-position(type='text', name='coachForm-position')
                            // new coach's home site
                            label(for='coachForm-homesite') Home Site:
                            input#coachForm-homesite(type='text', name='coachForm-homesite')
                            // new coach's email
                            label(for='coachForm-email') Email:
                            input#coachForm-email(type='text', name='coachForm-email')
                            // submit button for coach input form
                            button(ng-click='createCoach()', type='submit', data-inline='true', value='Submit') Create Coach
                            // success-message upon successful creation
                            | {{createCoachSuccess}}
                        // form to create a new admin
                        form#adminForm(ng-show="newAcctType=='admin'", ng-hide="!isAdmin || newAcctType !== 'admin'", method='post')
                            // create admin form header
                            h1 Create Admin Account
                            // new admin's first name
                            label(for='fname') First name:
                            input#adminForm-fname(type='text', name='adminForm-fname')
                            // new admin's last name
                            label(for='lname') Last name:
                            input#adminForm-lname(type='text', name='adminForm-lname')
                            // new admin's email address
                            label(for='email') Email:
                            input#adminForm-email(type='text', name='adminForm-email')
                            // submit button for coach input form
                            button(ng-click='createAdmin()', type='submit', data-inline='true', value='Submit') Create Admin
                            // success-message upon successful creation
                            | {{createAdminSuccess}}
                        // form to create a new student
                        form#studentForm-admin(ng-show="newAcctType=='student'", ng-hide="!isStudent", method='post')
                            // create student form header
                            h1 Create Student Account
                            // new student's first name
                            label(for='studentForm-fname') First name:
                            input#studentForm-fname(type='text', name='studentForm-fname')
                            // new student's last name
                            label(for='studentForm-lname') Last name:
                            input#studentForm-lname(type='text', name='studentForm-lname')
                            // new student's parent's name
                            label(for='studentForm-parentName') Parent full name:
                            input#studentForm-parentName(type='text', name='studentForm-parentName')
                            // new student's birth year
                            label(for='studentForm-birthYear') Birth year:
                            input#studentForm-birthYear(type='studentForm-birthYear', name='studentForm-birthYear')
                            // new student's practice site
                            label(for='studentForm-practiceSite') Practice site:
                            input#studentForm-practiceSite(type='text', name='studentForm-practiceSite')
                            // submit button for student input form
                            button(ng-click='createStudent()', type='submit', data-inline='true', value='Submit') Create Account
                            // success-message upon successful creation
                            | {{createStudentSuccess}}
                // div for coach's create account (a.k.a. update roster)
                #coachCreateAccount.ui-content
                    div(ng-hide="!isCoach")
                        // form to create a new student
                        form#studentForm-coach(, method='post')
                            // create student form header
                            h1 Create Student Account
                            // new student's first name
                            label(for='studentForm-fname-coach') First name:
                            input#studentForm-fname(type='text', name='studentForm-fname-coach')
                            // new student's last name
                            label(for='studentForm-lname-coach') Last name:
                            input#studentForm-lname(type='text', name='studentForm-lname-coach')
                            // new student's parent's name
                            label(for='studentForm-parentName-coach') Parent's full name:
                            input#studentForm-parentName(type='text', name='studentForm-parentName-coach')
                            // new student's birth year
                            label(for='studentForm-birthYear-coach') Birth year:
                            input#studentForm-birthYear(type='studentForm-birthYear-coach', name='studentForm-birthYear-coach')
                            // new student's practice site
                            label(for='studentForm-practiceSite') Practice site:
                            input#studentForm-practiceSite(type='text', name='studentForm-practiceSite')
                            // submit button for student input form
                            button(ng-click='submitStudentForm()', type='submit', data-inline='true', value='Submit') Create Account
                            // success-message upon successful creation
                            | {{createStudentSuccess}}
                #runTable.ui-content
                    table#rundata.ui-body-d.ui-shadow.table-stripe.ui-responsive.table(data-role='table', data-mode='', data-column-btn-theme='b', data-column-btn-text='Columns to')
                        thead
                            tr
                                th Name
                                th Time
                                th Event
                                th Date
                        tbody
                            tr
                #viewGrades.ui-content
                    table#gradeData.ui-body-d.ui-shadow.table-stripe.ui-responsive.table(data-role='table', data-mode='', data-column-btn-theme='b', data-column-btn-text='Columns to')
                        thead
                            tr
                                th(ts-criteria='Name') Name
                                th(ts-criteria='Grade 1') Grade 1
                                th(ts-criteria='Grade 2') Grade 2
                                th(ts-criteria='Grade 3') Grade 3
                                th(ts-criteria='Grade 4') Grade 4
                                th(ts-criteria='Grade 5') Grade 5
                #gradeInput.ui-content
                    div(ng-hide="!isStudent")
                        // class 1
                        h1 Grade Input
                        label(for='class1') What is the name of your first class?
                        input#class1(type='text', name='class1')
                        label(for='grade1') What is your current grade in it?
                        input#grade1(type='text', name='grade1')

                        // class 2
                        label(for='class2') What is the name of your second class?
                        input#class2(type='text', name='class2')
                        label(for='grade2') What is your current grade in it?
                        input#grade2(type='text', name='grade2')

                        // class 3
                        label(for='class3') What is the name of your third class?
                        input#class3(type='text', name='class3')
                        label(for='grade3') What is your current grade in it?
                        input#grade3(type='text', name='grade3')

                        // class 4
                        label(for='class4') What is the name of your fourth class?
                        input#class4(type='text', name='class4')
                        label(for='grade4') What is your current grade in it?
                        input#grade4(type='text', name='grade4')

                        // class 5
                        label(for='class5') What is the name of your fifth class?
                        input#class5(type='text', name='class5')
                        label(for='grade5') What is your current grade in it?
                        input#grade5(type='text', name='grade5')

                        // submit button
                        button(ng-click='submitGradeForm()', type='submit', data-inline='true', value='Submit') Enter Grades
                #inputRun.ui-content
                    div(ng-hide="isStudent")
                        // Div to enter run data
                        h1 Input New Run
                        form#runForm(method='post')
                            // start of runForm
                            // Date
                            label(for='date') Event Date:
                            input#datepicker1(type='date', data-clear-btn='false', name='date', val=(new Date()))
                            // Event
                            fieldset.ui-field-contain
                                label(for='event') Select Event
                                select#event(name='event')
                                    option(value='100m') 100 Meters
                                    option(value='200m') 200 Meters
                                    option(value='400m') 400 Meters
                                    option(value='1mi') 1 Mile
                                    option(value='2mi') 2 Miles
                                    option(value='other') Other
                                    // TODO if "other" is selected redirect to "create event" link
                            // Name
                            fieldset.ui-field-contain
                                label(for='name') Select Athlete
                                select#name(name='name')
                            // Submit button
                            label Time:
                            input#time(type='number', name='time', placeholder='Decimal', ng-model='myDecimal', step='any')
                            input(ng-click='submitRunForm()', type='submit', data-inline='true', value='Submit New Time')