extends layout

block content
    // this is only shown when currentUser is unknown (aka the variable currentUser == nil )
    div(ng-hide='currentUser')
        form(ng-show="scenario == 'Log in'")
            h2 Log in
            | Username:
            input(type='text', ng-model='user.username')
            br
            | Password:
            input(type='password', ng-model='user.password')
            br
            button(ng-click='logIn(user)') Log in
    div(ng-show='currentUser')
        #page(data-role='page')
            div(data-role='header', id='customHeader')
                h1 Welcome to Track-Houston!
            div(data-role='tabs')
                #one.ui-content
                    h1 Welcome {{currentUser.get('username')}}
                    p  You have been successfully logged in
                    button(ng-click='logOut(user)') Log out
                div(ng-hide='!isAdmin' data-role='navbar')
                    ul
                        li
                            a(id='ManNoteSetBUTT', href='#notes', data-theme='a', data-ajax='false') View Data
                        li
                            a(id='ManNoteSetBUTT', href='#inputTimes', data-theme='a', data-ajax='false') Input Times
                        li
                            a(id='ManNoteSetBUTT', href='#adminCreateAccount', data-theme='a', data-ajax='false') Create Account
                div(ng-hide='!isCoach' data-role='navbar')
                    ul
                        li
                            a(id='ManNoteSetBUTT', href='#notes', data-theme='a', data-ajax='false') View Data
                        li
                            a(id='ManNoteSetBUTT', href='#inputTimes', data-theme='a', data-ajax='false') Input Times
                        li
                            a(id='ManNoteSetBUTT', href='#coachUpdateRoster', data-theme='a', data-ajax='false') Update Roster
                div(ng-hide='!isStudent' data-role='navbar')
                    ul
                        li
                            a(id='ManNoteSetBUTT', href='#notes', data-theme='a', data-ajax='false') View Data
                        li
                            a(id='ManNoteSetBUTT', href='#inputGrades', data-theme='a', data-ajax='false') Input Grades
                        li
                            a(id='ManNoteSetBUTT', href='#profile', data-theme='a', data-ajax='false') My Runs

                // Form to enter roster data
                #adminCreateAccount.ui-content
                    //TODO make a checkbox to determine if user is a coach or not, if so then use angularJS to dynamically update form on the spot.
                    div(ng-hide="isStudent", id='acctTypeRadios')
                        input(id='studentType', type='radio', name='accountType', ng-click='newAcctTypeUpdate()',value='student')
                        label(for='studentType') Student
                        input(id='coachType', type='radio', name='accountType', value='coach',ng-click='newAcctTypeUpdate()')
                        label(for='coachType') Coach
                        input(id='adminType', ng-hide="isCoach",type='radio', name='accountType', value='admin', ng-click='newAcctTypeUpdate()')
                        label(for='adminType') Admin
                    form#coachForm(ng-show="newAcctType=='coach'", ng-hide="!isAdmin || newAcctType != 'coach'", method='post')
                        h1 Create Coach Account
                        // new user's first name
                        label(for='fname') First name:
                        input#coachForm-fname(type='text', name='fullname')

                        // new user's last name
                        label(for='lname') Last name:
                        input#coachForm-position(type='text', name='coachposition')

                        // new user's email address
                        label(for='hsite') Home Site:
                        input#hsite(type='text', name='Hsite')
                        label(for='email') Email:
                        input#email(type='text', name='email')
                        // submit button for coach input form
                        button(ng-click='createCoach()', type='submit', data-inline='true', value='Submit') Create Coach
                        |           {{createCoachSuccess}}
                    form#adminForm(ng-show="newAcctType=='admin'", ng-hide="!isAdmin || newAcctType != 'admin'", method='post')
                        h1 Create Admin Account
                        // new user's first name
                        label(for='fname') First name:
                        input#adminForm-fname(type='text', name='fullname')

                        // new user's last name
                        label(for='lname') Last name:
                        input#adminForm-position(type='text', name='coachposition')

                        // new user's email address
                        label(for='email') Email:
                        input#email(type='text', name='Hsite')
                        // submit button for coach input form
                        button(ng-click='createAdmin()', type='submit', data-inline='true', value='Submit') Create Admin
                        |           {{createAdminSuccess}}
                    form#athleteForm(ng-show="newAcctType=='student'",ng-hide="isStudent || newAcctType != 'student'", method='post')
                        h1 Create Student Account
                        label(for='fname') First name:
                        input#fname(type='text', name='fname')
                        label(for='lname') Last name:
                        input#lname(type='text', name='lname')
                        label(for='parentsname') Parent's name:
                        input#parentsname(type='text', name='parentsname')
                        label(for='bday') Date of Birth:
                        input#bday(type='date', name='bday')
                        label(for='practice') Practice site:
                        input#practicesite(type='text', name='Psite')
                        button(ng-click='submitAthleteForm()', type='submit', data-inline='true', value='Submit') Create Account
                #notes.ui-content
                    label(for='searchStudentsNoteInput') Search for a student by name:
                    input#searchStudentsNoteInput(type='search', name='searchStudentsNoteInput')
                    table#runTable.ui-body-d.ui-shadow.table-stripe.ui-responsive(data-role='table', data-mode='', data-column-btn-theme='b', data-column-btn-text='Columns to')
                    thead.ui-bar-d
                        th.label(data-priority='2') Last Name
                        th.label(data-priority='1') Score
                        th.label(data-priority='4') Event
                        th.label(data-priority='3') Date
                | {{createRunTable()}}
                //#profile.ui-content
                //    div()
                //        textarea#textarea(cols='40', rows='8', name='textarea')
                //        button(ng-click='submitNoteForm()', type='submit', data-inline='true', value='Submit') Submit
                #inputRun.ui-content
                    // Div to enter run data
                    h1 Input New Run
                    form#runForm(method='post')
                        // start of runForm
                        // Date
                        label(for='date') Event Date:
                        input#datepicker1(type='date', data-clear-btn='false', name='date', val=(new Date()))
                        // Event
                        fieldset.ui-field-contain
                            label(for='event') Select Event
                            select#event(name='event')
                                option(value='100m') 100 Meters
                                option(value='200m') 200 Meters
                                option(value='400m') 400 Meters
                                option(value='1mi') 1 Mile
                                option(value='2mi') 2 Miles
                                option(value='other') Other
                                // TODO if "other" is selected redirect to "create event" link
                        // Name
                        fieldset.ui-field-contain
                            label(for='event') Select Athlete
                            select#name(name='name')
                                option(value='Maria') Maria
                                option(value='Watson') Watson
                                option(value='Carmello') Carmello
                                option(value='other') Other
                                // TODO if "other" is selected redirect to "create user" link
                        // Submit button
                        label Time:
                        input#time(type='number', name='time', placeholder='Decimal', ng-model='myDecimal', step='any')
                        input(ng-click='submitRunForm()', type='submit', data-inline='true', value='Submit New Time')