body {
  text-align: center;
  font-family: Century Gothic, sans-serif;
}
H1 {
  background: #3C3C63 !important;
  padding:10px;
  border: 2px solid #f60;
  color: #ccc;
  text-shadow:none}

p, label {
  color:#f60;
  text-shadow: #3C3C63  1px 1px;
  font-size: 20px
}

#one div:nth-child(1) > center > ul > li:nth-child(5)

#customHeader {
  background:#3C3C63;
  border: 2px solid #f60;}

H1.ext1 {border: none;}

#ManNoteSetBUTT {
  color: #3C3C63;
  background: #f60;
  border: 2px solid #3C3C63;
  text-shadow: none;
}
#OrgSubmButts {
  background: #f60;
  border: 2px solid #3C3C63;
  text-shadow: #ccc  1px 1px;
}

.ui-page {
  background: #EBEBF5 !important;
  text-align: center;
}

input {
  width:100%;
  outline:2px solid !important;
  outline-color: #f60 !important;
  -moz-border-radius: 0px !important;
  -khtml-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;}

#radio-ui {
  display: inline
}

#radio {
  display: inline
}

.label {
  display: inline
}

.input {
  display: inline
}